<h1>All The Campers</h1>

<ul>
  <% @campers.each do |camper| %>
    <li><%=link_to camper.name, camper_path(camper) %></li>
  <% end %>
</ul>

<p>Are you camping with us? Signup a new camper <%=link_to "here", new_camper_path%>.</p>