<h1>All The Activities</h1>

<ul>
  <% @activities.each do |activity| %>
    <li><%=link_to activity.name, activity_path(activity) %></li>
  <% end %>
</ul>

<p>Are you participating yet? Signup for an activity <%=link_to "here", new_signup_path%>.</p>